.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    background-color: #ffcb66;
}

.footer > div {
    padding: 6px 30px;
    font-size: 16px;
}
