.enemy {
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, red 0, rebeccapurple 25%, rebeccapurple 51%, red 100%);
  -webkit-animation: animate 5s ease infinite;
          animation: animate 5s ease infinite;
}

@-webkit-keyframes animate {
  0 { background-position: 0 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0 50%; }
}

@keyframes animate {
  0 { background-position: 0 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0 50%; }
}
