.board {
    position: absolute;
    width: 100%;
    height: calc(100% - 80px); /* 50px for header*/
    overflow: hidden;
    background-image: url('../../static/space1.png');
    background-repeat: repeat;
    background-size: 50%;
    animation: space-move 50s linear infinite;
}

@-webkit-keyframes space-move {
    0% { background-position: initial; }
    100% { background-position: 100% 0; }
}

@keyframes space-move {
    0% { background-position: initial; }
    100% { background-position: 100% 0; }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: darkgrey;
    opacity: 0.8;
    z-index: 100;
}
